@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a href="c:\users\azhar damir\onedrive\bureau\ilisi 3\aspnet\tp1aspnet_sqlite\pages\index.cshtml.cs">c:\users\azhar damir\onedrive\bureau\ilisi 3\aspnet\tp1aspnet_sqlite\pages\index.cshtml.cs</a>
<a href="c:\users\azhar damir\onedrive\bureau\ilisi 3\aspnet\tp1aspnet_sqlite\pages\index.cshtml">c:\users\azhar damir\onedrive\bureau\ilisi 3\aspnet\tp1aspnet_sqlite\pages\index.cshtml</a>