@page
@model Tp1AspNet_Sqlite.Pages.Livres.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Livre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Livre.titre" class="control-label"></label>
                <input asp-for="Livre.titre" class="form-control" />
                <span asp-validation-for="Livre.titre" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Livre.id" />
            <div class="form-group">
                <label asp-for="Livre.ImagePath" class="control-label"></label>
                <input asp-for="Livre.ImagePath" class="form-control" />
                <span asp-validation-for="Livre.ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
